/* common */
* {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 30px;
}



/* header pagina */
header{
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    height: 120px;
    width: 100%;
    background-position: 0% 20%;
}

.logo{
    margin-top: 60px;
    margin-left: 10px;
    width: 200px;
}

/* main */

main{
    padding-left: 10px;
}

/* prima sezione */

.titolo-principale{
    margin-top: 15px;
}

strong .blu{
    color: #20a9e5;
}

div .data{
    font-size: 10px;
    font-weight: 400;
    margin-top: 5px;
}