/* common */
* {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 40px;
}



/* header pagina */
header{
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    height: 120px;
    width: 100%;
    background-position: 0% 20%;
}

.logo{
    margin-top: 60px;
    margin-left: 10px;
    width: 200px;
}

/* main */

main{
    padding-left: 10px;
    padding-right: 10px;
}

/* prima sezione */

.titolo-principale{
    margin-top: 15px;
}

strong .blu{
    color: #20a9e5;
}

div .data{
    font-size: 10px;
    font-weight: 400;
    margin-top: 5px;
}

/* sezione foto */

section.foto{
    padding-top: 30px;
    padding-left: 0;
    height: 1000px;
}

div.copertina{
    width: 48%;
    height: 650px;
    background-size: cover;
    display: inline-block;
    background-position: center;
}


.tim1{
    background-image: url('../img/tim-1.jpg');
    margin-right: 3%;
}

.tim2{
    background-image: url('../img/tim-2.jpg');
}

div.info{
    font-size:15px;
    font-weight: 500;
}