/* common */
* {
    margin: 0px;
}

/* header pagina */
header{
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    height: 120px;
    width: 100%;
    background-position: 0% 20%;
}

.logo{
    margin-top: 60px;
    margin-left: 10px;
    width: 200px;
}

